<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="Ie=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="keywords" content="采购网,政府采购信息"/>
    <meta name="Description" content="采购网频道为您提供全面的采购网相关信息,工程建设招标,工程项目招标,装饰招标,绿化招标,建筑设计招标,采购公告,拟建项目等信息!更多相关资讯,详询采购与招标网."/>
    <script src="//cdn.bootcss.com/react/15.3.1/react.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.3.1/react-dom.min.js"></script>
    <script src="//cdn.bootcss.com/redux/3.6.0/redux.min.js"></script>
    <script src="//cdn.bootcss.com/react-redux/5.0.0-beta.1/react-redux.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <script type="text/javascript" src="/js/flexible_css.js"></script>
    <title>采购网_政府采购信息</title>
</head>
<body>
<div id="indexProcurement"></div>
</body>
<script src="/js/indexProcurement.js"></script>
</html>