<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="Ie=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="keywords" content="招标信息,发布管理信息,发布管理标书,发布管理中标,发布管理采购等信息"/>
    <meta name="Description" content="采购与招标网招标信息频道致力于为企业提供招标信息,发布管理信息,发布管理标书,发布管理中标,发布管理采购信息等一系列商务服务,用细节打造成功."/>
    <script src="//cdn.bootcss.com/react/15.3.1/react.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.3.1/react-dom.min.js"></script>
    <script src="//cdn.bootcss.com/redux/3.6.0/redux.min.js"></script>
    <script src="//cdn.bootcss.com/react-redux/5.0.0-beta.1/react-redux.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <script type="text/javascript" src="/js/flexible_css.js"></script>
    <title>招标信息_招标发布</title>
</head>
<body>
<div id="indexTenders"></div>
</body>
<script src="/js/indexTenders.js"></script>
</html>