<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="//cdn.bootcss.com/react/15.3.1/react.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.3.1/react-dom.min.js"></script>
    <script src="//cdn.bootcss.com/redux/3.6.0/redux.min.js"></script>
    <script src="//cdn.bootcss.com/react-redux/5.0.0-beta.1/react-redux.min.js"></script>


</head>
<body>
    <div id="index">

    </div>
</body>
<script src="dist/index.js"></script>
</html>