<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="Ie=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name=”keywords” content=”招标网,采购与招标网,中国招标网,采购,招标,政府采购,中国采购与招标网,中国招标与采购官网”/>
    <meta name="Description" content="【采购与招标网】汇集中国采购与招标网各省市招标采购,工程项目等招投标信息,每天在线活跃用户100000余人,倾力打造中国采购与招标网专业资讯平台.采购与招标网做您身边的招标管家."/>
    <script src="//cdn.bootcss.com/react/15.3.1/react.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.3.1/react-dom.min.js"></script>
    <script src="//cdn.bootcss.com/redux/3.6.0/redux.min.js"></script>
    <script src="//cdn.bootcss.com/react-redux/5.0.0-beta.1/react-redux.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <script type="text/javascript" src="/js/flexible_css.js"></script>
    <title>采购与招标网_官网_打造中国采购与招标网络信息专业平台</title>
</head>
<body>
<div id="index"></div>
</body>
<script src="/js/index.js"></script>
</html>