<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="Ie=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no, address=no">
	<script src="//cdn.bootcss.com/react/15.3.1/react.min.js"></script>
	<script src="//cdn.bootcss.com/react/15.3.1/react-dom.min.js"></script>
	<script src="//cdn.bootcss.com/redux/3.6.0/redux.min.js"></script>
	<script src="//cdn.bootcss.com/react-redux/5.0.0-beta.1/react-redux.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/icon.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<script type="text/javascript" src="/js/flexible_css.js"></script>
	<title>省级项目</title>
</head>
<body>
<div id="regionProvince"></div>
</body>
<script src="/js/regionProvince.js"></script>
</html>